@import url("foundation.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Oswald|Pontano+Sans");
/************************************/
/* OVERALL STYLING - BODY           */
/************************************/
/* line 8, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 15, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
.padding-top {
  padding-top: 13%;
}

/* line 19, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
table {
  color: #E7AD3F;
  table-layout: fixed;
  width: 70%;
}

/* line 25, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
th, td {
  overflow: hidden;
  width: 10%;
}

/* line 30, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
.flash-notice {
  color: #E7AD3F;
}

/************************************/
/* NAVIGATION BAR AND HEADER SECTION */
/************************************/
/* line 37, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
html {
  margin: 0;
  padding: 0;
}

@media only screen and (orientation: landscape) {
  /* line 44, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
  .homepage-banner {
    width: 100%;
  }
}
@media only screen and (orientation: portrait) {
  /* line 50, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
  .homepage-banner {
    height: 100%;
    width: auto;
  }
}
/* line 56, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
#slider {
  width: 100vw;
  height: auto;
  overflow: hidden;
  position: fixed;
  top: 0vw;
  left: 0vw;
}

/* line 66, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
.slide {
  display: inline-block;
  width: 100vw;
  height: auto;
  float: left;
  position: relative;
}

/* line 74, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
#slide-holder {
  width: 400vw;
  position: relative;
  left: 0;
  will-change: transform;
  animation: scroller 15s;
  animation-delay: 2s;
}

@keyframes scroller {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-100vw);
  }
  25% {
    transform: translateX(-100vw);
  }
  35% {
    transform: translateX(-200vw);
  }
  50% {
    transform: translateX(-200vw);
  }
  60% {
    transform: translateX(-300vw);
  }
  75% {
    transform: translateX(-300vw);
  }
  100% {
    transform: translateX(0);
  }
}
/* line 95, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
nav {
  background-color: #000;
  color: #FFF;
  font: normal normal 2vw/1 'Oswald', sans-serif;
  margin: 0;
  padding: 2vw;
  position: fixed;
  opacity: .8;
  text-align: left;
  width: 100vw;
  z-index: 100;
}

/* line 109, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0 .5vw;
  text-transform: uppercase;
}

/* line 116, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
h1 {
  font: normal normal 4vw/1 'Oswald', sans-serif;
  margin: 0;
  width: 48vw;
}

/* line 122, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
nav a:link,
nav a:hover,
nav a:visited {
  color: #FFF;
}

/* line 128, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
.style-dropdown {
  color: #333333;
}

/* line 131, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
.style-dropdown li a {
  color: #333333;
}

/* line 134, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
.style-dropdown li a:hover {
  color: #E7AD3F;
}

/* line 138, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
.style-dropdown-2 {
  padding-left: 0;
}

/************************************/
/* LINKS                            */
/************************************/
/********************/
/*   BUTTONS        */
/*******************/
/* line 152, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
#admin-button-location {
  padding-top: 4%;
}

/********************/
/*  GRID DISPLAYS  */
/*******************/
/* line 161, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
article.column {
  margin: 3em 0 3em 0;
  padding: 0 3em 0 3em;
}

/* line 166, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
.center-text {
  text-align: center;
}

/********************/
/*  FORMAT FORMS */
/*******************/
/* line 173, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
.format-forms {
  padding: 8% 8% 0 8%;
  margin: 0 9% 0 9%;
}

/* line 178, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
.format-forms h1 {
  text-align: center;
  margin-bottom: 5%;
}

/********************/
/*  PRODUCTS SHOW  */
/*******************/
/* line 187, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
.reviews-show {
  padding-top: 10%;
}

/* line 191, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
.line-height {
  line-height: 250%;
}

/* line 195, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
.line-height h1, h3 {
  line-height: 150%;
}

/********************/
/*  USER INDEX     */
/*******************/
/* line 203, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
.style-user-table {
  color: black;
}

/* line 207, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
.style-user-table tr {
  text-align: left;
}

/* line 211, /Users/alyssa/ada/Week11/beyoncy/app/assets/stylesheets/application.scss */
.style-user-table a:hover {
  color: #E7AD3F;
}
