<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


<h3>All Users</h3>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= "#{user.first_name} #{user.last_name} - id: #{user.id}"  %>
      <%= link_to("edit this user", edit_user_path(user.id)) %>
      <%= link_to("mark this user #{active_for_button(user)}", toggle_path(user.id), method: :patch) %>
      <%= link_to("delete this user", user_path(user.id), method: :delete, data: {confirm: "Are you sure? Deleting a user is permanent."}) %>
    </li>
  <% end %>
</ul>
