<div id="slider">
  <div id="slide-holder">

    <div class="slide">
      <img src='../assets/banner-1.png' alt='beyonce' class="homepage-banner" />
    </div>

    <div class="slide">
      <img src='../assets/banner-2.jpg' alt='beyonce' class="homepage-banner" />
    </div>

    <div class="slide">
      <img src='../assets/banner-3.png' alt='beyonce' class="homepage-banner" />
    </div>

    <div class="slide">
      <img src='../assets/banner-4.jpg' alt='beyonce' class="homepage-banner" />
    </div>

  </div>
</div>
