<div class="format-forms">
  <h1>Add an Address</h1>
  <p class="flash-notice"><%= render partial: 'shared/flash_notice' %></p>
  <%= render partial: "addressform", locals: { action_name: addresses_path} %>
</div>
