@import url('foundation.css');

/************************************/
/* OVERALL STYLING - BODY           */
/************************************/

ul {
  list-style: none;
}

/************************************/
/* NAVIGATION BAR AND HEADER SECTION */
/************************************/
nav ul li{
  display: inline-block;
  list-style: none;
}

/************************************/
/* LINKS                            */
/************************************/



/********************/
/*   BUTTONS        */
/*******************/



/********************/
/*  GRID DISPLAYS  */
/*******************/

article.column {
  margin: 3em 0 3em 0;
  padding: 0 3em 0 3em;
}

.center-text {
  text-align: center;
}
