@import url('foundation.css');

/************************************/
/* OVERALL STYLING - BODY           */
/************************************/

ul {
  list-style: none;
}

/************************************/
/* NAVIGATION BAR AND HEADER SECTION */
/************************************/
nav ul li{
  display: inline-block;
  list-style: none;
}

/************************************/
/* LINKS                            */
/************************************/



/********************/
/*   BUTTONS        */
/*******************/
