<div class="format-forms">
  <h1>Add a Category</h1>
  <p class="flash-notice"><%= render partial: 'shared/flash_notice' %></p>
  <%= render partial: "categoryform", locals: { action_name: categories_path } %>
</div>
