<h3 class="center-text padding-top"> <%= @category.name %> </h3>

<div class="row small-up-1 medium-up-2 large-up-3">
  <% Product.where(category_id: @category.id).each do |product| %>
  <article class="column">
    <%=link_to((image_tag(product.picture, :alt => product.name, :title => product.name)), product_path(product.id))%>
    <p class="center-text"> <%= product.name %> </p>
    <!-- would like to add the lemons here -->
  </article>
  <% end %>
</div>
