<div class="format-forms">
  <h1>Edit a Product</h1>
  <p class="flash-notice"><%= render partial: 'shared/flash_notice' %></p>
  <%= render partial: "productform", method: :post, locals: { action_name: product_path, params: {id: @product.id }} %>
</div>
