<!DOCTYPE html>
<html>
<head>
  <title>Beyoncy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <div class="dropdown">
            <button class="dropdown-button">Shop</button>
            <div class="dropdown-content">
              <a href="/categories">Shop By Category</a>
              <a href="/categories/1">Baseball Bats</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </li>

        <li><h1><a href='/'>BEYONCY</a></h1></li>
        <!-- NOT SURE WHERE THESE SHOULD BE DIRECTED -->
        <li><a href='/login'>Login</a></li>
        <li><a href='/cart'><img src="/assets/shopping-cart.svg"></a></li>
      </ul>
    </nav>
  </header>
<%= yield %>

  <footer>
    <div>Icons made by <a href="http://www.flaticon.com/authors/epiccoders" title="EpicCoders">EpicCoders</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

  </footer>
</body>
</html>
